## Day 02
### 데이터 정규화, 시계열 데이터
정규화 : 데이터의 일관성을 갖도록 하는 사전처리 <br>
- A라는 변수는 0 ~ 1, B 변수는 0 ~ 1000 까지 값을 갖는다고 가정했을때 상대적 크기차이가 존재함. B의 영향력이 커져서 머신러닝에 영향을 미치기 때문에 정규화로 데이터의 일관성을 만듦. 정규화를 거쳤을때의 결과는 값들의 범위는 0 ~ 1 그리고 폭은 -1 ~ 1 까지의 범위를 가지게 됨.<br>

1. 첫번째 정규화 방식(수동식)
  - 최대값으로 원소들 나누기. 사이킥런으로 하지 않음. `abs()` 메소드 사용
    - 각 원소의 절대값 / 데이터 셋의 전체 데이터의 최대 절대값
2. min - max 스케일링 정규화
  - (모든원소 - 최소값) / (최대값 -최소값) = 0 ~ 1의 값을 가짐.
3. Z - Score 스케일링
  - 평균과 표준편차를 이용한 스케일링 방식.
  - Standard Scaling으로도 불림. 가장 많이 쓰이는 방식
  - 이상치를 탐지하는 방식으로 많이 사용.
    - (모든 원소 - 평균) / 표준편차.
    - 가우시안 분포 기반이고 이상치를 대처가 가능한 방법이다. 이상치에 민감함.
4. Robust 스케일링
  - 중앙값(50%) IQR(분포)
  - (전체원소 - 중앙걊)/IQR
  - 비 가우시안 분포 기반.
    - 중앙값을 빼준 이유는 중앙으로 모아주기 위해서 이다.
3. 전수조사
  - 모든인구조사
4. 표본조사
  - 일정 인구 조사

시계열 데이터 : 시간과 관련된 데이터<br><br>

#### - 시간이 남을 경우 데이터 사전처리

### 데이터 프레임의 응용
#### - 함수 매핑
- 시리즈와 데이터 프레임에 함수를 적용 하는 것.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/auto-mpg.xlsx')

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower',
              'weight', 'acceleration', 'model_year', 'origin', 'name']

# print(type(np.nan))

df['horsepower'].replace('?', np.nan, inplace = True)
# print(df['horsepower'].isnull().sum())

df.dropna(subset = ['horsepower'], inplace = True)
# print(df['horsepower'].isnull().sum())
# print(df.info())

df['horsepower'] = df['horsepower'].astype('float')
print(df.horsepower.describe())
print()
# 최대값으로 원소들 나누기
df.horsepower = df.horsepower / abs(df.horsepower).max()
print(df.horsepower.head())
print()
print(df.horsepower.describe())
# min-max 스케일링 정규화
min_x = df.horsepower - df.horsepower.min()
min_max = df.horsepower.max() - df.horsepower.min()
df.horsepower = min_x / min_max

print(df.horsepower.describe())
print()
print(df.horsepower.head())
print()

count    391.000000
mean     104.404092
std       38.518732
min       46.000000
25%       75.000000
50%       93.000000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

0    0.717391
1    0.652174
2    0.652174
3    0.608696
4    0.860870
Name: horsepower, dtype: float64

count    391.000000
mean       0.453931
std        0.167473
min        0.200000
25%        0.326087
50%        0.404348
75%        0.543478
max        1.000000
Name: horsepower, dtype: float64
count    391.000000
mean       0.317414
std        0.209341
min        0.000000
25%        0.157609
50%        0.255435
75%        0.429348
max        1.000000
Name: horsepower, dtype: float64

0    0.646739
1    0.565217
2    0.565217
3    0.510870
4    0.826087
Name: horsepower, dtype: float64

In [ ]:
# min-max 스케일링 정규화
import pandas as pd
import numpy as np

df = pd.read_excel('/content/auto-mpg.xlsx')

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower',
              'weight', 'acceleration', 'model_year', 'origin', 'name']

# print(type(np.nan))

df['horsepower'].replace('?', np.nan, inplace = True)
# print(df['horsepower'].isnull().sum())

df.dropna(subset = ['horsepower'], inplace = True)
# print(df['horsepower'].isnull().sum())
# print(df.info())

df['horsepower'] = df['horsepower'].astype('float')

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() # 객체 생성
df.horsepower = scaler.fit_transform(df[['horsepower']])
print(df.horsepower.head())

0    0.646739
1    0.565217
2    0.565217
3    0.510870
4    0.826087
Name: horsepower, dtype: float64

In [ ]:
# Z - Score 스케일링
import pandas as pd
import numpy as np

df = pd.read_excel('/content/auto-mpg.xlsx')

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower',
              'weight', 'acceleration', 'model_year', 'origin', 'name']

# print(type(np.nan))

df['horsepower'].replace('?', np.nan, inplace = True)
# print(df['horsepower'].isnull().sum())

df.dropna(subset = ['horsepower'], inplace = True)
# print(df['horsepower'].isnull().sum())
# print(df.info())

df['horsepower'] = df['horsepower'].astype('float')

mean = np.mean(df['horsepower'], axis = 0)
print(mean)
print()
print(df['horsepower'].describe())

# std = np.std(df['horsepower'])
std = df['horsepower'].std()
print()
print(std)
print()

mean_x = df['horsepower'] - mean
df.horsepower = mean_x / std

print(df.horsepower.head())
print()
print(df.horsepower.describe())

104.40409207161126

count    391.000000
mean     104.404092
std       38.518732
min       46.000000
25%       75.000000
50%       93.000000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

38.51873182181278

0    1.573154
1    1.183733
2    1.183733
3    0.924119
4    2.429880
Name: horsepower, dtype: float64

count    3.910000e+02
mean    -1.453796e-16
std      1.000000e+00
min     -1.516252e+00
25%     -7.633712e-01
50%     -2.960661e-01
75%      5.346985e-01
max      3.260645e+00
Name: horsepower, dtype: float64

In [ ]:
# 모듈사용
import pandas as pd
import numpy as np

df = pd.read_excel('/content/auto-mpg.xlsx')

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower',
              'weight', 'acceleration', 'model_year', 'origin', 'name']

# print(type(np.nan))

df['horsepower'].replace('?', np.nan, inplace = True)
# print(df['horsepower'].isnull().sum())

df.dropna(subset = ['horsepower'], inplace = True)
# print(df['horsepower'].isnull().sum())
# print(df.info())

df['horsepower'] = df['horsepower'].astype('float')

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df.horsepower = scaler.fit_transform(df[['horsepower']])
print(df.horsepower.head())

print()
print(df.horsepower.describe())

0    1.575170
1    1.185250
2    1.185250
3    0.925303
4    2.432994
Name: horsepower, dtype: float64

count    3.910000e+02
mean    -2.180694e-16
std      1.001281e+00
min     -1.518194e+00
25%     -7.643493e-01
50%     -2.964455e-01
75%      5.353836e-01
max      3.264823e+00
Name: horsepower, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/auto-mpg.xlsx')

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower',
              'weight', 'acceleration', 'model_year', 'origin', 'name']

# print(type(np.nan))

df['horsepower'].replace('?', np.nan, inplace = True)
# print(df['horsepower'].isnull().sum())

df.dropna(subset = ['horsepower'], inplace = True)
# print(df['horsepower'].isnull().sum())
# print(df.info())

df['horsepower'] = df['horsepower'].astype('float')
median= df['horsepower'].median()
df['horsepower']

## 시계열 데이터
- 시간과 관련되어있는 데이터.에 따른 다양한 기능 을 제공.<br>
`datetime64` 라는 자료형을 주로 씀.<br>
timestamp : 시간의 특정 지점. 2019,2020 등<br>
그 년도의 간격을 period 라고 부름.<br>
period : 시간의 간격<br>

차이점<br>
timestamp : 2023-07-02 23:59:59
<br>
period : 2023-07-02 00:00:00 ~ 2023-07-02 23:59:59
<br>
두개의 차이점은 timestamp 는 지정된 시간의 마지막 시간대인 59분 59초로 나타내는 특정지점을 나타내지만 period는 시간의 범위대를 통틀어서 나타낸다.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/stock-data.csv')
print(df.head())
print()
print(df.info())
print()

df['new_Date'] = pd.to_datetime(df['Date'])
print(df.head())
print()
print()

         Date  Close  Start   High    Low  Volume
0  2023-07-02  10100  10850  10900  10000  137977
1  2023-06-29  10700  10550  10900   9990  170253
2  2023-06-28  10400  10900  10950  10150  155769
3  2023-06-27  10900  10800  11050  10500  133548
4  2023-06-26  10800  10900  11000  10700   63039

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

         Date  Close  Start   High    Low  Volume   new_Date
0  2023-07-02  10100  10850  10900  10000  137977 2023-07-02
1  2023-06-29  10700  10550  10900   9990  170253 2023-06-29
2  2023-06-28  10400  10900  10950  10150  155769 2023-06-28
3  2023-06-27  10900  10800  11050  10500  133548 2023-06-27
4  2023-06-26  10800  10900  11000  10700   63039 2023-06-26

In [ ]:
import pandas as pd
df = pd.read_csv('/content/stock-data.csv')
df['new_Date'] = pd.to_datetime(df['Date'])
df.set_index('new_Date', inplace= True)
df.drop('Date', axis =1 , inplace=True)
print(df.head())

            Close  Start   High    Low  Volume
new_Date
2023-07-02  10100  10850  10900  10000  137977
2023-06-29  10700  10550  10900   9990  170253
2023-06-28  10400  10900  10950  10150  155769
2023-06-27  10900  10800  11050  10500  133548
2023-06-26  10800  10900  11000  10700   63039

In [ ]:
import pandas as pd
df = pd.read_csv('/content/stock-data.csv')
dates = ['2021-07-18','2022-07-18','2023-07-18']
ts_dates = pd.to_datetime(dates)
print(ts_dates)
print()
pr_day = ts_dates.to_period(freq = 'D')# 년도 월 일
print(pr_day)
print()
pr_month = ts_dates.to_period(freq = 'M') #년도 월
print(pr_month)
print()
pr_year = ts_dates.to_period(freq = 'A') #년도
print(pr_year)
print()
pr_hour = ts_dates.to_period(freq = 'H') #시
print(pr_hour)
print()
pr_minute = ts_dates.to_period(freq = 'T') #분
print(pr_minute)
print()
pr_second = ts_dates.to_period(freq = 'S') #초
print(pr_second)
print()

DatetimeIndex(['2021-07-18', '2022-07-18', '2023-07-18'], dtype='datetime64[ns]', freq=None)

PeriodIndex(['2021-07-18', '2022-07-18', '2023-07-18'], dtype='period[D]')

PeriodIndex(['2021-07', '2022-07', '2023-07'], dtype='period[M]')

PeriodIndex(['2021', '2022', '2023'], dtype='period[A-DEC]')

PeriodIndex(['2021-07-18 00:00', '2022-07-18 00:00', '2023-07-18 00:00'], dtype='period[H]')

PeriodIndex(['2021-07-18 00:00', '2022-07-18 00:00', '2023-07-18 00:00'], dtype='period[T]')

PeriodIndex(['2021-07-18 00:00:00', '2022-07-18 00:00:00',
             '2023-07-18 00:00:00'],
            dtype='period[S]')

```python
to_period() #-> freq 인자를 사용하며 기간단위로 지정.
```

In [ ]:
#시계열 데이터 추가(date_range())
import pandas as pd
ts_ms = pd.date_range(start ='2023-01-01',
                      end=None,
                      periods=6,
                      freq='MS',
                      tz = 'Asia/Seoul')
                      #Month Start MS 도 있음.
                      #MS: 월초
                      #AS: 연초
                      #QS: 분기초
print(ts_ms)

DatetimeIndex(['2023-01-01 00:00:00+09:00', '2023-02-01 00:00:00+09:00',
               '2023-03-01 00:00:00+09:00', '2023-04-01 00:00:00+09:00',
               '2023-05-01 00:00:00+09:00', '2023-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('/content/stock-data.csv')

df['new_Date'] = pd.to_datetime(df['Date'])
df.set_index('new_Date', inplace=True)

scaler = MinMaxScaler()

df['High_Normalized'] = scaler.fit_transform(df['High'].values.reshape(-1,1))

print(df)
print()
X = df['High_Normalized'].values.reshape(-1,1)
y = df['High'].values
X_train,X_test,y_train, y_test = train_test_split(X, y, test_size =0.2, random_state = 42)
model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(y_pred)

                  Date  Close  Start   High    Low  Volume  High_Normalized
new_Date
2023-07-02  2023-07-02  10100  10850  10900  10000  137977         0.000000
2023-06-29  2023-06-29  10700  10550  10900   9990  170253         0.000000
2023-06-28  2023-06-28  10400  10900  10950  10150  155769         0.017857
2023-06-27  2023-06-27  10900  10800  11050  10500  133548         0.053571
2023-06-26  2023-06-26  10800  10900  11000  10700   63039         0.035714
2023-06-25  2023-06-25  11150  11400  11450  11000   55519         0.196429
2023-06-22  2023-06-22  11300  11250  11450  10750  134805         0.196429
2023-06-21  2023-06-21  11200  11350  11750  11200  133002         0.303571
2023-06-20  2023-06-20  11550  11200  11600  10900  308596         0.250000
2023-06-19  2023-06-19  11300  11850  11950  11300  180656         0.375000
2023-06-18  2023-06-18  12000  13400  13400  12000  309787         0.892857
2023-06-15  2023-06-15  13400  13600  13600  12900  201376         0.964286
2023-06-14  2023-06-14  13450  13200  13700  13150  347451         1.000000
2023-06-12  2023-06-12  13200  12200  13300  12050  558148         0.857143
2023-06-11  2023-06-11  11950  12000  12250  11950   62293         0.482143
2023-06-08  2023-06-08  11950  11950  12200  11800   59258         0.464286
2023-06-07  2023-06-07  11950  12200  12300  11900   49088         0.500000
2023-06-05  2023-06-05  12150  11800  12250  11800   42485         0.482143
2023-06-04  2023-06-04  11900  11900  12200  11700   25171         0.464286
2023-06-01  2023-06-01  11900  11800  12100  11750   32062         0.428571

[10900. 12250. 12200. 10900.]